body{
width: 100%;
height: 600px;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: start;
font-family: 'PixelFont';
}

@font-face {
    font-family: 'PixelFont';
    src: url('../assets/fonts/Minecraft.ttf');
}

.juego1 {
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.imagen {
    border: 1px solid black;
    height: 1000px;
    width: 100px;
}

