@font-face {
    font-family: 'PixelFont';
    src: url('../assets/fonts/Minecraft.ttf');
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'PixelFont', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    width: 100%;
    height: 47rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/image/fondo_wallpaper.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

header {
    width: 100%;
    height: 3rem;
    background-color: #2b2c30;
}

header img {
    height: 3.75em;
    width: 18.75em;
}

.nav-link {
    text-decoration: none;
    color: #F2F3F5;
    margin-left: 1em;
}

nav {
    margin-left: 3.5em;
    margin-right: 4em;
    height: 3em;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #2b2c30;
}

.nav-img-logo {
    height: 3em;
}

.nav-link-last {
    margin-left: auto;
    margin-right: 8rem;
    align-self: center;
    display: flex;
    align-items: center;
}

.nav-img-language-switch {
    height: 2em;
    width: 3em;
    border: 1px black solid;
    border-radius: 5px;
    object-fit: cover;
}

.container>p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #666;
}

.team-section {
    margin-top: 20px;
}

.team-section h2 {
    color: #333;
}

@font-face {
    font-family: 'PixelFont';
    src: url('../assets/fonts/Minecraft.ttf');
}