@font-face {
    font-family: 'PixelFont';
    src: url('../assets/fonts/Minecraft.ttf');
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'PixelFont', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    width: auto;
    height: auto;
    display: flex;
    background-image: url('../assets/image/fondo_wallpaper.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    flex-direction: column;
    overflow-x:hidden;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    width: 8px;    
    height: 8px;    
    
}

body::-webkit-scrollbar-thumb {
    background-color: #2b2c30;
}


body::-webkit-scrollbar-track {
    background: #1b1919;
    border-radius: 4px;
}



.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(168, 149, 149, 0.1);
    border-radius: 8px;
    color:  #ffffff;
    background-color: #2b2c30;
    margin-top: 32px;
    margin-bottom: 32px;
}

header {
    width: 100%;
    height: 3rem;
    background-color: #2b2c30;
}

header img {
    height: 3.75em;
    width: 18.75em;
}

.nav-link {
    text-decoration: none;
    color: #F2F3F5;
    margin-left: 1em;
}

nav {
    margin-left: 3.5em;
    margin-right: 4em;
    height: 3em;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #2b2c30;
}

.nav-img-logo {
    height: 3em;
}

.nav-link-last {
    margin-left: auto;
    margin-right: 8rem;
    align-self: center;
    display: flex;
    align-items: center;
}

.nav-img-language-switch {
    height: 2em;
    width: 3em;
    border: 1px black solid;
    border-radius: 5px;
    object-fit: cover;
}

.container>p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #ffffff;
}

.team-section {
    margin-top: 20px;
    font-size: 1.2em;
    line-height: 1.6;
    color: #ffffff;
}

.team-section h2 {
    color: #ffffff;

}

@font-face {
    font-family: 'PixelFont';
    src: url('../assets/fonts/Minecraft.ttf');
}

.integrantes{
    margin-top: 20px;
    font-size: 1.2em;
    line-height: 1.6;
    color: #ffffff;
}

.integrantes h3{
    margin-top: 10px;;
}

.integrantes img{
     width: 9em;
    height: 9em;
}

.integrante{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    
}

.integranteinfo{
    display: flex;
    flex-direction: row;
}

.integranteinfo p{
    margin-left: 20px;
}

.integrante2 {
    display: flex;
    flex-direction: column;
    justify-content: end;   
    align-items: end;
}

.integranteinfo2 {
    display: flex;
    flex-direction: row;
}

.integranteinfo2 p{
    margin-right: 20px;
}

.integrante p{
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

