html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
    font-family: 'PixelFont';   
    background-image: url('../assets/image/fondo_wallpaper.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x:hidden;
    overflow-y: hidden;
}

@font-face {
    font-family: 'PixelFont';
    src: url('../assets/fonts/Minecraft.ttf');
}

header {
    width: 100%;
    height: 3rem;
    background-color: #2b2c30;
}

header img {
    height: 3.75em;
    width: 18.75em;
}

.nav-link {
    text-decoration: none;
    color: #F2F3F5;
    margin-left: 1em;
}

nav {
    margin-left: 3.5em;
    margin-right: 4em;
    height: 3em;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #2b2c30;
}

.nav-img-logo {
    height: 3em;
}

.nav-link-last {
    margin-left: auto;
    margin-right: 8rem;
    align-self: center;
    display: flex;
    align-items: center;
}

.nav-img-language-switch {
    height: 2em;
    width: 3em;
    border: 1px black solid;
    border-radius: 5px;
    object-fit: cover;
}

main {
    width: 100%;
    height: 37rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.image-container {
    position: relative;
    width: 250px;
    height: 150px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
}

.image-container:hover img {
    opacity: 0.6;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .overlay {
    opacity: 1;
}

.overlay h3 {
    color: #fff;
    font-size: 20px;
}

/* Community Header */
.community-header {
    text-align: center;
    margin-bottom: 2rem;
    background-color: rgba(43, 44, 48, 0.85);
    border-radius: 8px;
    padding: 20px;
    margin: 0px auto;
    max-width: 400px;
}

.community-header h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.community-header p {
    font-size: 1.2rem;
    color: #888;
}

/* Community Features */
.community-features {
    text-align: center;
    background-color: rgba(43, 44, 48, 0.85);
    border-radius: 8px;
    padding: 20px;
    margin: 0px auto;
    max-width: 400px;
    max-height: 500px;
}

.community-features h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.community-features ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.community-features li {
    max-height: 100px;
    margin-bottom: 10px
}

.community-features li i {
    max-height: 100px;
    margin-right: 0.5rem;
    font-size: 12;
}

.community-features p {
    max-height: 100px;
    font-size: 1.1rem;
    color: #888;
}

.contact-us {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

/* Join Community */
.join-community {
    text-align: center;
    background-color: rgba(43, 44, 48, 0.85);
    border-radius: 8px;
    padding: 20px;
    margin: 0px auto;
    max-width: 400px;
}

.join-community h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.join-community p {
    font-size: 1.1rem;
    color: #888;
    margin-bottom: 1rem;
}

.join-button {
    background-color: #007bff;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.community-header, .community-features, .join-community {
    margin-bottom: 4rem; /* Adjust the margin as needed */
}