* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'PixelFont', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #F2F3F5;
}

@font-face {
    font-family: 'PixelFont';
    src: url('../assets/fonts/Minecraft.ttf');
}

header {
    width: 100%;
    height: 3rem;
    border: 1px;
    background-color: #313338;
}

header img {
    height: 60px;
    width: 300px;
}

body {  
    width: 100%;
    height: 94rem;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    background-image: url('../assets/image/fondo_wallpaper.png');
}

footer {
    width: 100%;
    height: 3rem;
    background-color: cyan;
}

.gamelist-table {
    border: 2px solid #F2F3F5;
    letter-spacing: 1px;
    border-collapse: collapse;
    width: 35rem;
    align-self: center;
    margin-bottom: 1em;
}

.gamelist-table-head {
    font-size: 2rem;
    border: 1px solid #F2F3F5;
}

.gamelist-table-body {
    border: 1px solid #F2F3F5;
}

.add-game-btn {
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    align-self: center;
    color: #313338;
}

.game-list-lbl {
    align-self: center;
    justify-self: center;
    margin-top: 1.5em;
    margin-bottom: 0.25em;
}

.nav-link {
    text-decoration: none;
    color: #F2F3F5;
    margin-left: 16px;
}

nav {
    height: 48px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.nav-img-logo {
    height: 48px;
}

.nav-link>img {
    margin-top: 8px;
}

.nav-link-last {
    margin-left: auto;
    margin-right: 16px;
    align-self: center;
    display: flex;
    align-items: center;
}

.nav-img-language-switch {
    height: 32px;
    width: 48px;
    border: 1px #F2F3F5 solid;
    border-radius: 5px;
    object-fit: cover;
}

.gamelist-table-row {
    column-gap: 2em;
    columns: 3;
}

.gamelist-table-game-row {
    columns: 3;
    column-gap: 2em;
}