body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'PixelFont';
    flex-direction: column;
    margin: 0%;
}

@font-face {
    font-family: 'PixelFont';
    src: url('../assets/fonts/Minecraft.ttf');
}
header {
    width: 100%;
    height: 3rem;
    border: 1px;
    background-color: #313338;
}

header img {
    height: 60px;
    width: 300px;
}

.nav-link {
    text-decoration: none;
    color: #F2F3F5;
    margin-left: 16px;
}

nav {
    height: 48px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.nav-img-logo {
    height: 48px;
}

.nav-link-last {
    margin-left: auto;
    margin-right: 16px;
    align-self: center;
    display: flex;
    align-items: center;
}

.nav-img-language-switch {
    height: 32px;
    width: 48px;
    border: 1px black solid;
    border-radius: 5px;
    object-fit: cover;
}

main {
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.juego1 {
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.imagen {
    border: 1px solid black;
    height: 1000px;
    width: 100px;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
   
}