body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'PixelFont';
    flex-direction: column;
    margin: 0%;
}

@font-face {
    font-family: 'PixelFont';
    src: url('../assets/fonts/Minecraft.ttf');
}

header {
    width: 100%;
    height: 3rem;
    background-color: #2b2c30;
}

header img {
    height: 3.75em;
    width: 18.75em;
}

.nav-link {
    text-decoration: none;
    color: #F2F3F5;
    margin-left: 1em;
}

nav {
    margin-left: 3.5em;
    margin-right: 4em;
    height: 3em;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #2b2c30;
}

.nav-img-logo {
    height: 3em;
}

.nav-link-last {
    margin-left: auto;
    margin-right: 8rem;
    align-self: center;
    display: flex;
    align-items: center;
}

.nav-img-language-switch {
    height: 2em;
    width: 3em;
    border: 1px black solid;
    border-radius: 5px;
    object-fit: cover;
}

main {
    width: 100%;
    height: 47rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/image/fondo_wallpaper.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

table {
    color: white;
    height: 150px;
    width: 600px;
    border-collapse: collapse;
}

table, td, tr, th{
    border: 1px solid white;
}

td {
    width: 100px;
}



